---
import { getCollection } from "astro:content";
import Post from "../../components/blog/Post.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
import RootLayout from "../../layouts/RootLayout.astro";

let allPosts = await getCollection("posts");
let posts = allPosts.filter((post) => !post.data.hidden);
const taggedPosts = posts.reduce((allTags, post) => {
  const postTags = post.data.tags;
  if (postTags) {
    postTags.forEach((tag) => {
      if (!allTags[tag]) {
        allTags[tag] = [];
      }
      allTags[tag].push(post);
    });
  }
  return allTags;
}, {});

let sortedPosts =
  taggedPosts["work"]?.sort(
    (a, b) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf()
  ) ?? [];
---

<RootLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <content>
    <h3>My Work</h3>
    <ul class="tags-list">
      {
        sortedPosts.map(({ url, data: { description, slug, title, tags, added: date } }) => (
          <Post {url} {description} {date} {slug} {title} {tags} />
        ))
      }
    </ul>
  </content>
</RootLayout>
