---
import { getCollection } from "astro:content";
import Tags from "../components/blog/Tags.astro";
import getTags from "../scripts/getTags";

const allPosts = await getCollection("posts");
const posts = allPosts.filter((post) => !post.data.hidden);
const allTags = getTags(posts);

let {
  content: { title, description, added, updated, tags, heroImage },
  readingTime,
} = Astro.props;

added = new Date(added).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

if (updated) {
  updated = new Date(updated).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
}
---

<article>
  {heroImage && <img width={720} height={360} src={heroImage} alt={`${title} - ${description}`} />}
  <h1 class="article-title">{title}</h1>
  <p>
    <span style="color: var(--gray);">{readingTime}</span> - {description}
  </p>
  {
    updated && updated !== added ? (
      <span>
        <time>{added}</time>, last updated on <time>{updated}</time>
      </span>
    ) : (
      <span>{added && <time>{added}</time>}</span>
    )
  }
  <Tags tags={tags} />
  <hr />
  <div class="blog-post">
    <slot />
  </div>
</article>
<Tags tags={allTags} all />
